body
{
  margin:0;
  padding:0;
  font-family:Lucida Grande, Calibri, Tahoma, sans-serif;
  font-size:0.75em;
}

body div.container
{
  width:720px;
  margin:0 auto;
  padding-bottom:100px;
}

body h1
{
  font-size:1.5em;
  line-height:2em;
  margin:40px 0 20px;
  text-transform:uppercase;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

body p
{
  font-size:1em;
  line-height:1.4em;
}

body a
{
  color:blue;
  text-decoration:none;
  font-weight:bold;
}

body a:hover
{
  border-bottom:1px solid rgba(0,0,255,0.5);
}

table.charter
{
  border-collapse:collapse;
  margin:50px auto 50px auto;
}

table.charter thead td.blank
{
  border:1px solid rgba(0,0,0,0.1);
  background-color:rgba(0,0,0,0.04);
}
table.charter thead td.add,
table.charter tbody td.add
{
  width:20px;
  padding:0;
  border:none;
}

table.charter thead th
{
  text-transform:uppercase;
  border:1px solid rgba(0,0,0,0.1);
  background-color:rgba(0,0,0,0.04);
  line-height:1.5em;
  padding:3px;
  height:26px;
}

table.charter tbody th
{
  border:1px solid rgba(0,0,0,0.1);
  background-color:rgba(0,0,0,0.04);
  line-height:1.5em;
  padding:3px;
  text-align:left;
  width:150px;
}

table.charter tbody td
{
  text-align:center;
  border:1px solid rgba(0,0,0,0.1);
  padding-right:5px;
  width:145px;
}
table.charter tbody th.focus,
table.charter tbody td.focus
{
  background-color:rgba(190,214,236,0.5);  
}
table.charter tbody td.add a
{
  position:absolute;
  margin-top:-16px;
  display:block;
  color:white;
  background-color:rgba(100,100,100,0.75);
  font-weight:bold;
  font-size:1.4em;
  line-height:22px;
  padding:5px;
  height:22px;
  width:22px;
  text-shadow:0 1px 0 rgba(0,0,0,1);
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  border:1px solid rgba(0,0,0,0.2);
  border-left:none;
}
table.charter tbody td.add a:hover
{
  background-color:rgba(0,111,186,0.8);
}

table.charter tbody th input[type=text]
{
  border:none;
  font-size:1em;
  font-weight:bold;
  line-height:1.5em;
  padding:2px;
  width:100%;
  background:transparent;
}

table.charter tbody td input[type=number]
{
  border:none;
  font-size:1em;
  line-height:1.5em;
  padding:2px;
  width:100%;
  background:transparent;
  text-align:right;
}
table.charter tbody th input[type=text]:focus,
table.charter tbody td input[type=number]:focus { outline:none; }