<p>Charter is an application for drawing simple bar charts. The full code for this tool can be found at <a href="http://github.com/kapowaz/charter">http://github.com/kapowaz/charter</a>.</p>

<table id="product_orders" class="charter">
  <thead>
    <tr>
      <td class="blank"></td>
      <th scope="column">Orders</th>
      <th scope="column">Items</th>
    </tr>
  </thead>
  <tbody>
    <tr data-key="5_inch_gloss">
      <th scope="row">5 inch gloss</th>
      <td><input type="number" min="0" max="6000" step="1" value="414"></td>
      <td><input type="number" min="0" max="6000" step="1" value="3189"></td>
    </tr>
    <tr data-key="5_inch_lustre">
      <th scope="row">5 inch lustre</th>
      <td><input type="number" min="0" max="6000" step="1" value="167"></td>
      <td><input type="number" min="0" max="6000" step="1" value="2078"></td>
    </tr>
    <tr data-key="6_inch_gloss">
      <th scope="row">6 inch gloss</th>
      <td><input type="number" min="0" max="6000" step="1" value="306"></td>
      <td><input type="number" min="0" max="6000" step="1" value="2392"></td>
    </tr>
    <tr data-key="6_inch_lustre">
      <th scope="row">6 inch lustre</th>
      <td><input type="number" min="0" max="6000" step="1" value="482"></td>
      <td><input type="number" min="0" max="6000" step="1" value="5066"></td>
    </tr>
  </tbody>
</table>